@forward "navBar";
@forward "choiceModal";
@forward "authModal";
@forward "auth";
@forward "sidebar";
@forward "Dashboard";
@forward "map";

// Driver's Import
@forward "driver/delivery";
@forward "driver/earnings";
@forward "driver/marketplace";
@forward "profileModal";
@forward "viewDrivers";
@forward "completeModal";

// Farmer's import
@forward "farmer/postProduce";
@forward "farmer/deliveries";
@forward "farmer/payment";
@forward "farmer/myProduce";

// LandingPage import
@forward "landingPage";
@forward "landingPage/hero";
@forward "landingPage/testimony";
@forward "landingPage/howSection";
@forward "landingPage/whySection";
@forward "landingPage/FAQ";
@forward "landingPage/CTA";
@forward "landingPage/footer";


*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
// #root{
//   width: 100%;
//   margin: auto;
// }
html{
     scroll-behavior: smooth;
}