@forward "navBar";
@forward "landingPage";
@forward "testimony";
@forward "choiceModal";
@forward "authModal";
@forward "auth";
@forward "sidebar";
@forward "farmerDashboard";
@forward "postProduce";
@forward "myProduce";
@forward "marketplace";
@forward "deliveries";
@forward "payment";
@forward "driverDelivery";
@forward "earnings";
@forward "profileModal";

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
#root{
  width: 100%;
  margin: auto;
}
html{
     scroll-behavior: smooth;
}